.app {
  min-height: 100vh;

  padding: 30px;

  background:
    linear-gradient(
      to bottom right,
      #fff7fb,
      #fff
    );
}

.title {
  margin-bottom: 30px;

  font-size: 28px;
  font-weight: 800;

  color: #222;
}

.products {
  display: grid;

  grid-template-columns:
    repeat(auto-fit,minmax(290px,1fr));

  gap: 30px;
}